mat-card-header {
    h1 {
        margin: 0;
    }
}

// auth/log
.nav-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .link {
  
        a {
            font-size: 12px;
            // color: rgb(59, 56, 56);
            color: blue;
        }
    }
  }
  