<div id="screen">
	<app-header (clickChange)="stateToggle($event)"></app-header>
	<mat-sidenav-container class="brd h-100">
		<mat-sidenav 
			id="main-sidenav"
			[mode]="mobileQuery.matches ? 'over' : 'side'" 
			[opened]="sideNavToggle"
		>
		<div id="main-menu">
			<main-menu></main-menu>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
			<p>1</p>
		</div>
		</mat-sidenav>
		<mat-sidenav-content>
			<div class="d-flex flex-column">
				<div class="flex-grow-1 overflow-auto position-relative">
					<router-outlet></router-outlet>
				</div>
			</div>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>


<!-- <div class="holder">
	<div class="header">
		<app-header (clickChange)="stateToggle($event)"></app-header>
	</div>
	<div class="main">
		<div class="side">
			<main-menu></main-menu>
		</div>
		<div class="content">
            <router-outlet></router-outlet>
		</div>
	</div>
</div> -->