<div class="component-inset">
  <div class="container-fluid h-100">
    <div class="row h-100 align-items-center align-self-center justify-content-around">
      <div class="col-10 col-sm-7 col-md-5 col-lg-5">
        <form [formGroup]="componentForm" (ngSubmit)="formSubmit()">
          <mat-card class="shadow">
            <mat-card-header>
              <h1>Авторизация</h1>
            </mat-card-header>
            <mat-card-content>

              <mat-form-field class="w-100 mt-2 mb-2">
                <mat-label>Логин</mat-label>
                <input formControlName="login" matInput type="text">
                <mat-error>{{errMsg(componentForm.controls["login"], $MSG)}}</mat-error>
              </mat-form-field>

              <mat-form-field class="w-100  my-2">
                <mat-label>Имя</mat-label>
                <input formControlName="name" matInput type="text">
                <mat-error>{{errMsg(componentForm.controls["name"], $MSG)}}</mat-error>
              </mat-form-field>

              <mat-radio-group class="mt-4 mb-4" formControlName="sex">
                <mat-label class="mr-2">Пол</mat-label>
                <mat-radio-button name="sex" value="1" [checked]="componentData.sex == sexStr.male" class="mr-2">М
                </mat-radio-button>
                <mat-radio-button name="sex" value="2" [checked]="componentData.sex == sexStr.female">Ж
                </mat-radio-button>
              </mat-radio-group>

              <mat-form-field class="w-100  my-2">
                <mat-label>Пароль</mat-label>
                <input formControlName="password" matInput type="password">
                <mat-error>{{errMsg(componentForm.controls["password"], $MSG)}}</mat-error>
              </mat-form-field>

              <mat-form-field class="w-100  my-2">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="text">
                <mat-error>{{errMsg(componentForm.controls["email"], $MSG)}}</mat-error>
              </mat-form-field>

              <mat-form-field class="w-100  my-2">
                <input formControlName="date_birth" matInput [matDatepicker]="date_birth" placeholder="Дата рождения">
                <mat-datepicker-toggle matSuffix [for]="date_birth"></mat-datepicker-toggle>
                <mat-datepicker #date_birth></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="w-100  my-2">
                <input formControlName="date_hire" matInput [matDatepicker]="date_hire" placeholder="Дата Приема">
                <mat-datepicker-toggle matSuffix [for]="date_hire"></mat-datepicker-toggle>
                <mat-datepicker #date_hire></mat-datepicker>
              </mat-form-field>

            </mat-card-content>
            <mat-card-actions class="w-100 mb-1 text-center">
              <div class="nav-holder">
                <div class="link"  (click)="goLog()">
                <a>У меня есть учетная запись</a>
              </div>
                <div>
                  <button class="mb-2 submit-button" mat-raised-button [disabled]="disableButton" color="primary"
                    type="submit">
                    Создать
                  </button>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>
        </form>
      </div>
    </div>
  </div>
</div>