// @mixin flex-row {
//     display: flex;
//     flex-direction: row;
// }

// @mixin flex-col {
//     display: flex;
//     flex-direction: column;
// }

@mixin table-cell-width($count, $list) {
	table {
		width: 100%;
		table-layout: fixed;
		@for $count from 1 to $count + 1 {
			th:nth-child(#{$count}), td:nth-child(#{$count}) {
				overflow: hidden;
				text-overflow: ellipsis;
				width: nth($list, $count);
			}
		}
	}
}