// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";

/*Mat-icons set */

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$alexAdmin-primary: mat-palette($mat-indigo);
$alexAdmin-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$alexAdmin-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$alexAdmin-theme: mat-light-theme($alexAdmin-primary, $alexAdmin-accent, $alexAdmin-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($alexAdmin-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body,
p {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.brd {
  border: solid red 1px;
}

#screen {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
  mat-sidenav-content {
    background-color: white;
  }
}
mat-sidenav-container {
	height: 100%;
}

#main-sidenav {
  overflow-x: hidden;
  overflow-y: auto;
  width: 250px;
  height: 100%;
  margin: 0;
}

#main-menu {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

app-header {
  display: block;
  height: 70px;
  header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: center;
    align-items: stretch;
    background-color: #ddd;

    [class^="box-"] {
      align-self: center;
    }

    .box-nav {
      margin: 0px 20px 0 20px;
      color: #444;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .box-right {
      flex-grow: 1;
      padding: 10px 20px;
    }
  }
}

// .holder {
//     display: flex;
// 	flex-direction: column;
// 	width: 100%;
// 	height: 100%;
//     flex-wrap: nowrap;

//     .header {
//         background-color: red;
//         min-height: 50px;
// 		width: 100%;
// 		display: flex;
// 		flex-direction: row;
// 		flex-wrap: nowrap;
// 		align-self: center;
// 		align-items: stretch;
//     }

//     #screen {
//         height: 100%;
//         display: flex;
//         flex-direction: row;
//         #main-sidenav {
//             overflow-x: hidden;
// 	        overflow-y: auto;
// 	        width: 250px;
// 	        height: 100%;
// 	        margin: 0;
//             background-color: green;
//         }
//         .content {
//             background-color: royalblue;
//             position: relative;
//             width: 100%;
//             // height: 100%;
//         }
//     }
// }
// .box-nav {
//     margin: 0px 20px 0 20px;
//     color: #444;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
// }
