// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";

/*Mat-icons set */

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$alexAdmin-primary: mat-palette($mat-indigo);
$alexAdmin-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$alexAdmin-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$alexAdmin-theme: mat-light-theme($alexAdmin-primary, $alexAdmin-accent, $alexAdmin-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($alexAdmin-theme);

/* You can add global styles to this file, and also import other style files */

/* Импорт внешних библиотек стилей */
@import "bootstrap/scss/bootstrap-grid.scss";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

@import "vars.scss";
@import "mixins.scss";

html,
body {
  height: $height100p;
}
body,
p {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  &:link,
  &:active,
  &:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

.brd {
  border: solid red 1px;
}

.cover-parent {
  position: absolute;
  z-index: 1;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.component-inset {
  height: $height100p;
  overflow: auto;
  padding: 16px;
}

// Класс всплывающих уведомлений
.simple-notification-wrapper.center {
  width: 500px !important;
  word-wrap: break-word;
}

#screen {
  @extend %flex-col;
  position: absolute;
  width: $width100p;
  height: $height100p;
  flex-wrap: nowrap;
  mat-sidenav-content {
    background-color: white;
  }
}

#main-sidenav {
  overflow: {
    x: hidden;
    y: auto;
  }
  width: 250px;
  height: $height100p;
  margin: 0;
}

#main-menu {
  overflow: {
    x: hidden;
    y: auto;
  }
  height: $height100p;
  margin: 0;
  overflow-x: hidden;
}

app-header {
  display: block;
  height: 50px;

  header {
    height: $height100p;
    width: $width100p;
   @extend %flex-row;
    flex-wrap: nowrap;
    align-self: center;
    align-items: stretch;
    background-color: #ddd;

    [class^="box-"] {
      align-self: center;
    }

    .box-nav {
      margin: 0px 20px 0 20px;
      color: #444;
     @extend %flex-row;
      flex-wrap: nowrap;
    }

    .box-right {
      flex-grow: 1;
      padding: 10px 20px;
    }
  }
}
.menu {
  @extend %flex-col;
  .item {
    background-color: #ededed;
    width: $width100p;
    a {
      display: block;
      width: $width100p;
      padding: 10px;
      color: black;
      &:hover {
        background-color: #dddddd;
        padding: 9px;
        border: rgb(196, 196, 196) solid 1px;
      }
    }
  }
}

.component-fullscreen-sidenav {
  width: $width100p;
  height: $height100p;
  .mat-sidenav-content, .mat-sidenav {
    height: $height100p;
  }
  .mat-sidenav {
    width: 300px;
  }
}

.bottom-right-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1;
}

.enum-holder {
 @extend %flex-row;
  justify-content: space-between;
}

.enum-element {
 @extend %flex-row;
  align-items: center;
  justify-content: center;
}

.point {
  cursor: pointer;
}

.input-val {
  width: 15%;
}

.input-name {
  width: 50%;
  margin-left: 5%;
  textarea {
    min-height: 25px;
    overflow: hidden;
  }
}

.button-column {
  width: 10%;
}
.discription-scale {
 @extend %flex-row;
  justify-content: space-between;
}

table.hover {
  td.mat-cell,
  td.mat-footer-cell,
  th.mat-header-cell {
    padding: {
      left: 5px;
      right: 5px;
    }
  }
  td {
    min-width: 90px;
  }
  th {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1em;
  }
  tr:hover {
    background-color: #dddddd;
  }
  th.operation-center,
  td.operation-center {
    text-align: center;
    width: 80px;
  }
}

.leader-type-container {
 @extend %flex-row;
  justify-content: space-between;
  align-items: center;
}

ngx-monaco-editor.template-editor {
  min-height: 550px;
  padding-top: 15px;
}

%flex-row {
  display: flex;
  flex-direction: row;
}

%flex-col {
  display: flex;
  flex-direction: column;
}